@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
    /* Force light mode for stability */
}

body {
    background-color: #ffffff;
    color: #18181b;
    /* Zinc-900 (Dark Black) */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* Stop the window from scrolling */
}